@namespace BootstrapBlazor.Components

<div @ref="Element">

    <h5> @Status</h5>
    <b> @Message</b>

    <div class="row g-3">
        <div class="inputoutput col-12 col-sm-6">
            <div class="caption">选择图片 <input type="file" id="fileInput" name="file" /></div>
            @if (Options.Type != EnumImageHelperFunc.FaceDetectionInCamera)
            {
                <canvas id="imageSrc" width="400" height="400"></canvas>
            }
            else
            {
                <video id="videoInput" width=320 height=240
                       data-action="video" class="video"
                       muted
                       webkit-playsinline
                       playsinline
                       x-webkit-airplay="allow"
                       x5-video-player-type="h5"
                       x5-video-player-fullscreen="true"
                       x5-video-orientation="portraint">
                    Video stream not available.
                </video>
            }
        </div>
        <div class="inputoutput col-12 col-sm-6">
            <canvas id="canvasOutput" width="400" height="400"></canvas>
            <div class="caption">输出</div>
        </div>
        @if (IsOpenCVReady)
        {
            <div class="col-12 mt-3">
                <Button Text="灰度化" OnClickWithoutRender="(()=>Apply(EnumImageHelperFunc.Grayscale))" />
                <Button Text="边缘检测" OnClickWithoutRender="(()=>Apply(EnumImageHelperFunc.EdgeDetection))" />
                <Button Text="特征点检测" OnClickWithoutRender="(()=>Apply(EnumImageHelperFunc.FeaturePointDetection))" />
                <Button Text="人脸检测" OnClickWithoutRender="(()=>Apply(EnumImageHelperFunc.FaceDetection))" />
                <Button Text="第一张脸" OnClickWithoutRender="(()=>Apply(EnumImageHelperFunc.FaceDetection1st))" />
            </div>
            <div class="col-12 mt-3">
                <Select @bind-Value="Options.Type" ShowLabel="true" OnSelectedItemChanged="OnChanged" />
            </div>
        }
    </div>
</div>
