@namespace BootstrapBlazor.Components

<div @ref="Element">

    <pre> @Status</pre>
    <pre> @Message</pre>

    <div class="row g-3">
        <div>
            <label class="btn btn-primary" for="fileInput">上传图片</label><input type="file" class="sr-only" id="fileInput" name="file" accept="image/*" capture />
            @if (IsOpenCVReady)
            {
                <Button Text="重试解码" OnClickWithoutRender="Apply" />
                <Button Text="扫码" OnClickWithoutRender="Scan" />
            }
        </div>
        @*<div class="input-label">选择图片<input type="file" class="sr-only" id="fileInput" name="file" accept="image/*" multiple /></div>*@
        <div class="inputoutput col-12 col-sm-6">
            <canvas id="canvasOutput" style="max-width:200px;max-height:200px;" />
            <canvas id="imageSrc" width="400" height="400" style="max-width:300px;max-height:700px;"  />
            <video id="videoInput" width=320 height=240></video>
        </div>
    </div>
</div>
